streamlit
streamlit-folium
streamlit-autorefresh
folium
plotly
numpy
pandas
scikit-learn
scipy
lifelines
shap
ruptures
groq
requests
python-dotenv
matplotlib
httpx
joblib
planetary-computer
pystac-client
stackstac